{% extends 'tracer/user/template.html' %}
{% block title %}Edit Post{% endblock %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

  <div class="row">
    <div class="col-lg-9 mt-1 ">
      <div class="card o-hidden mt-3 border-0 shadow-sm ">
        <div class="card-body p-2">
          <a class="btn bg-c-tile text-white shadow-lg" href="{% url 'post-list' %}">Back</a>
          <div class="text-center">
            <h4>EDIT POST</h4>
          </div>
        </div>
      </div>
      <div class="card o-hidden mt-3 border-0 shadow-sm ">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-11">
              <div class="mr-inherit">
                <a class="nav-link">
                  {% if user.profile_picture %}
                    <img style="margin-top: -23px;" class="img-profile1 rounded-circle" src="{{request.user.profile_picture.url}}" width="40" height="40" alt="User-Profile-Image">
                  {% else %}
                    <img style="margin-top: -23px;" class="img-profile1 rounded-circle" src="{% static 'img/default_profile_2.png'%}" width="40" height="40" alt="User-Profile-Image">
                  {% endif %}
                  <span class="mr-2 d-lg-inline-flex text-gray-700 small post"><strong>{{request.user.first_name}} {{request.user.middle_name}} {{request.user.last_name}}</strong></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-4">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="mb-4">
                {% render_field form.body class="form-control" cols="40" rows="4" placeholder="What is in your mind?" name="title" %}
              </div>
              <div class="">
                <h6 class="text-dark">Image</h6>
                {% render_field form.image name="image" %}
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-6 mt-2">
                  <button  type="submit" class="btn bg-c-tile text-white btn-block">
                      <span class="icon text-white">
                          <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Save Changes</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-3">
          <div class="row justify-content-center  text-content" style="height:100% !important; padding-bottom:none !important;">
              <ul class="w-100 sidebar sidebar-dark accordion" id="sidebnav-wrapper" style="height:100% !important; text-color:black;" >
                  <div class="body">
                      <div class="sidnav-brand">
                          <strong>YOUR FRIENDS</strong>
                          {% for grad_info in grad_infos %}
                            {% if grad_info.approved %}
                              {% if grad_info.email != request.user.email %}
                                <div class="nav-item active">
                                    <a class="nav-link">
                                      <img class="img-profile rounded-circle shadow-sm" data-toggle="modal" data-target="#bd-example-modal-lg1{{grad_info.id}}" src="{{grad_info.profile_picture.url}} " width=" 50" height="50" alt="User-Profile-Image">
                                        <span class="mr-2 d-lg-inline text-gray-700 small" data-toggle="modal" data-target="#bd-example-modal-lg1{{grad_info.id}}"><strong>{{grad_info.email}}</strong></span>
                                    </a>
                                </div>
                              {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                  </div>
              </ul>
          </div>
      </div>
<!-- basic modal -->
    {% for grad_info in grad_infos %}
			<div class="modal fade" id="bd-example-modal-lg1{{grad_info.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
      <div class="modal-content">
					<form method="POST" action="">
						{% csrf_token %}
							<div class="card-header text-black">

								<div class="row">
										{% if grad_info.profile_picture %}
											<div class="col-lg-2">
												<img class="img-profile rounded-circle shadow-sm" src="{{grad_info.profile_picture.url}}" width="70" height="70" alt="User-Profile-Image">
											</div>
										{% endif %}
										<div class="col-lg-10">
											<p class="pt-3">{{grad_info.first_name}} {{grad_info.middle_name}} {{grad_info.last_name}}</p>
										</div>
								</div>
							</div>
							<div class="card-body">
										<div class="row">
											<div class="col-lg-6">
												<p>Email Address: {{grad_info.email}}</p>
											</div>
                      <div class="col-lg-6">
												<p>ID Number: {{grad_info.IDNum}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<p>Address: {{grad_info.address}}</p>
											</div>
											<div class="col-lg-6">
												<p>Contact Number: {{grad_info.contactnum}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<p>School: {{grad_info.school}}</p>
											</div>
											<div class="col-lg-6">
												<p>Course: {{grad_info.course_type}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<p>Employment Status: {{grad_info.employment_status}}</p>
											</div>
											<div class="col-lg-6">
												<p>Year Graduated: {{grad_info.date_graduated}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<p>Skills: {{grad_info.skill}}</p>
											</div>
											<div class="col-lg-6">
												<p>Job Description: {{grad_info.job_description}}</p>
											</div>
										</div>
										<div class="modal-footer">
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						      </div>
								</div>
						</form>
					</div>
        </div>
  	</div>
  {% endfor %}
  </div>


<!-- Sweet Alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  {% for message in messages %}
  Swal.fire({
    position: 'center',
    icon: 'success',
    title: '{{message}}',
    showConfirmButton: false,
    timer: 3000
  })
  {% endfor %}
</script>

{% endblock content %}
