{%  extends 'tracer/systemadmin/templates.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow-sm h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                User Type</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ADMIN {{request.user.user_type}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-800"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow-sm h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                School</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{request.user.school}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-school fa-2x text-gray-800"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- Percentage of Employed Users -->
          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow-sm h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Employed
                              </div>
                              <div class="row no-gutters align-items-center">
                                  <div class="col-auto">
                                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{count_employed}} </div>
                                  </div>
                                  <div class="col">
                                      <div class="progress progress-sm mr-2">
                                          <div class="progress-bar bg-success" role="progressbar"
                                              style="width: {% widthratio count_approved count_users 100 %}%" aria-valuenow="{% widthratio count_employed count_users 100 %}" aria-valuemin="0"
                                              aria-valuemax="100"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-auto">
                              <i class="fas fa-user-check fa-2x text-gray-800"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Percentage of Unemployed Users -->
          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow-sm h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Unemployed
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{count_unemployed}} </div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            style="width: {% widthratio count_approved count_users 100 %}%" aria-valuenow="{% widthratio count_unemployed count_users 100 %}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-auto">
                              <i class="fas fa-user-clock fa-2x text-gray-800"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lx-6 col-lg-6">
          <!-- Analytics -->

          <!-- About Recommender System -->
          <div class="card shadow-sm mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-info">
                  <h6 class="m-0 font-weight-bold text-white"><i class="mr-2 fas fa-info-circle"></i>About</h6>
              </div>
              <div class="card-body">
                  <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                          src="{% static 'img/visualizer.svg'  %}" alt="Dashboard-Visualizer">
                  </div>
                  <p>Is one of the users who creates student administrative officers,
                     can view all of the users who have registered for this application,
                      and can also view all of the graduates' basic profiles and work histories,
                     as well as calculate all of the population on their respective campuses.</p>
              </div>
          </div>
        </div>

            <!-- Voting System -->
            <div class="col-lx-6 col-lg-6">
                <!-- Help -->
                <div class="card shadow-sm mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-secondary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="mr-2 fas fa-question-circle"></i>Guide</h6>
                    </div>
                    <div class="card-body">
                      <p>Creates Student Administrative Officers, DEAN, System Admin, Campus Director and University President.</p>
                      <p>View Information About Graduates and thier Work Experiences.</p>
                      <p>Has a total number of employed and unemployed CTU graduates.</p>
                    </div>
                </div>
            </div>

          </div>



          <script src="{% static '/js/profile.js' %}"></script>
          <!-- Sweet Alert -->
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

          <script>
            {% for message in messages %}
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: '{{message}}',
              showConfirmButton: false,
              timer: 3000
            })
            {% endfor %}
          </script>




{% endblock %}
