{%  extends 'tracer/systemadmin/templates.html' %}
{% block title %}Create Admin Management{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
  <style media="screen">
      input#id_password1, input#id_password2  {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #6e707e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d1d3e2;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  </style>
  <div class="container">
    <div class="card o-hidden mt-3 border-0 shadow-sm ">
      <div class="card-header  h3 bg-gradient-info text-white">
        <div class="card-title">
          Admin Creation
        </div>
      </div>
      <div class="card-body p-4">
        <form method="POST" name="CreateAdminAccount" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <label for="inputFirstname" class="form-label" Required="first_name">First Name</label>
               {{ adform.first_name }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <label for="inputMiddlename" class="form-label" Required="first_name">Middle Name</label>
              {{ adform.middle_name }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <label for="inputLastname" class="form-label" Required="first_name">Last Name</label>
              {{ adform.last_name }}
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <label for="inputEmail" class="form-label" Required="email">Email</label>
              {{ adform.email }}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <label for="inputSchool" class="form-label" Required="school">School</label>

              {% render_field adform.school class="form-control" onchange="School()" id="id_school" %}

              {% render_field adform.argaoCampus  style="display:none;" %}
              {% render_field adform.bariliCampus  style="display:none;" %}
              {% render_field adform.carmenCampus  style="display:none;" %}
              {% render_field adform.CCMECampus style="display:none;" %}
              {% render_field adform.daanbantayanCampus style="display:none;" %}
              {% render_field adform.danaoCampus style="display:none;" %}
              {% render_field adform.dumanjugExt style="display:none;" %}
              {% render_field adform.ginatilanExt style="display:none;" %}
              {% render_field adform.mainCampus style="display:none;" %}
              {% render_field adform.moalboalCampus style="display:none;" %}
              {% render_field adform.nagaExt style="display:none;" %}
              {% render_field adform.oslobExt style="display:none;" %}
              {% render_field adform.pinamungajanExt style="display:none;" %}
              {% render_field adform.sanfernandoExt style="display:none;" %}
              {% render_field adform.sanfranciscoCampus style="display:none;" %}
              {% render_field adform.tuburanCampus style="display:none;" %}
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label for="inputUser_Type" class="form-label" Required="user_type">Types of User</label>

              {% render_field adform.user_type class="form-control" onchange="User_Type()" id="id_user_type" %}

              {% render_field adform.admin_sao  style="display:none;" %}
              {% render_field adform.system_admin  style="display:none;" %}
              {% render_field adform.dean  style="display:none;" %}
              {% render_field adform.campus_director  style="display:none;" %}
              {% render_field adform.university_pres  style="display:none;" %}
            </div>
          </div>
          <div class="row g-3">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <label for="inputPassword" class="form-label" Required="password1">Password</label>
              {% render_field adform.password1 class="form-control"%}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <label for="inputConfirmpass" class="form-label" Required="password2">Confirm Password</label>
              {% render_field adform.password2 class="form-control"%}
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <button type="submit" value="Register" class="btn bg-gradient-info text-white btn-block">
                  <span class="icon text-white">
                      <i class="fas fa-check"></i>
                  </span>
                  <span class="text">Register Account</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Sweet Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    {% for message in messages %}
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: '{{message}}',
      showConfirmButton: false,
      timer: 3000
    })
    {% endfor %}
  </script>

  <script type="text/javascript">
  		function passwordAddClass(){
  			pass1 = document.getElementById('id_password1')
  			pass1.classList.add('form-control')
  			pass2 = document.getElementById('id_password2')
  			pass2.classList.add('form-control')
  		}
      function User_Type() {
  		  var user_type_value = document.getElementById("id_user_type").value;
  		  const array_of_user_type_value = ["AdminSao","SystemAdmin", "DEAN", "Campus Director", "University President"];
        const array_of_user_type_id = ["id_admin_sao","id_system_admin", "id_dean", "id_campus_director", "id_university_pres"];
  		  var i = 0;
  			while(i != array_of_user_type_value.length){
  		    	if(i != array_of_user_type_value.length){
  		        	if(user_type_value == array_of_user_type_value[i]){
  		            	document.getElementById(array_of_user_type_id[i]).checked = true;
  		           }else{
  		            	document.getElementById(array_of_user_type_id[i]).checked = false;
  		           }
  		           i++;
  		        }else{
  		          i = 0;
  		        }
  		    }
  		}
      function School(){
  			var school_value = document.getElementById("id_school").value ;

  			const array_of_school_value = ["Argao Campus","Barili Campus","Carmen Campus","Cebu City Mountain Extension Campus","Daanbantayan Campus","Danao Campus",
  																"Dumanjug Extension Campus", "Ginatilan Extension Campus", "Main Campus","Moalboal Campus","Naga Extension Campus",
  																"Oslob Extension Campus","Pinamungajan Extension Campus","San Fernando Extension Campus","San Francisco Campus","Tuburan Campus",];

  			const array_of_school_id = ["id_argaoCampus","id_bariliCampus","id_carmenCampus","id_CCMECampus","id_daanbantayanCampus","id_danaoCampus",
  																"id_dumanjugExt", "id_ginatilanExt","id_mainCampus","id_moalboalCampus","id_nagaExt",
  																"id_oslobExt","id_pinamungajanExt","id_sanfernandoExt","id_sanfranciscoCampus","id_tuburanCampus",];
  			var i = 0;
  			while(i != array_of_school_value.length){
  					if(i != array_of_school_value.length){
  							if(school_value == array_of_school_value[i]){
  									document.getElementById(array_of_school_id[i]).checked = true;
  								}else{
  									document.getElementById(array_of_school_id[i]).checked = false;
  								}
  								i++;
  						}else{
  							i = 0;
  						}
  				}
  		}

  </script>


{% endblock %}
