<!-- Sidebar -->
{% load static %}

<div class="sidebar">
  <ul style="position: sticky; z-index: 2; top: 0;" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion " id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <div class="sidebar-brand d-flex align-items-center justify-content-center sticky">
          <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-user-graduate"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Admin</div>
      </div>

      <!-- Divider -->
      <hr class="sidebar-divider my-0 sticky">

      <li class="nav-item active sticky">
          <a class="nav-link" href="{% url 'admindash' %}">
            {% if request.user.profile_picture %}
              <img class="img-fluid img-profile rounded-circle" src="{{request.user.profile_picture.url}}">
            {% else %}
              <img class="img-fluid img-profile rounded-circle" src="{% static 'img/default_profile_2.png'  %}">
            {% endif %}
              <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider sticky">

      <!-- Heading -->
      <div class="sidebar-heading sticky">
          Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {% if request.user.system_admin %}
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseone" aria-expanded="true" aria-controls="collapseone">
              <i class="fas fa-users"></i>
              <span>Admin Management</span>
          </a>
          <div id="collapseone" class="collapse" aria-labelledby="headingone" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'create_user_management' %}">Create Admin</a>
                <a class="collapse-item" href="{% url 'display_user_management' %}">Display Admin</a>
              </div>
          </div>
      </li>
      {% endif %}

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-poll"></i>
              <span>Reports</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{% url 'school_report' %}">School Reports</a>
                  <!-- <a class="collapse-item" href="{% url 'school_record' %}">School Records</a> -->

              </div>
          </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider sticky">

      <!-- Heading -->
      <div class="sidebar-heading sticky">
          Addons
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item sticky">
          <a class="nav-link" href="{% url 'user_graduates' %}">
              <i class="fas fa-user"></i>
              <span>User Graduates</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block sticky">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline sticky">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

  </ul>
</div>
<!-- End of Sidebar -->
