{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<html>
	  <head>
			<link rel="icon" href="{% static 'img/ctu_logo.png' %}" type="image/gif" sizes="16x16">
	  	<title>CTU New Password</title>
	  	<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta name="description" content="">
	  	<meta name="author" content="">
	  	{% include 'tracer/firstInterface/css.html' %}
			<link href="{% static 'css/img.css' %}" rel="stylesheet">
	  </head>
	  <body class="bg-gradient-primary">

			<div class="container">

				<!-- Outer Row -->
				<div class="row justify-content-center">

					<div class="col-xl-10 col-lg-12 col-md-9">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-6 d-none d-lg-block login-image">

									</div>
					      	<div class="col-lg-6">
										<div class="p-5">
											<div class="text-center">
						      			<a href="{% url 'login' %}">
						      				<h3 class="text-gray-900 mb-4"><a href="{% url 'login' %}">CEBU TECHNOLOGICAL UNIVERSITY</a></h3>
						      			</a>
						      		</div>
						      		<h3>Enter new password</h3>

						      		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

						      		<form method="post">
												{% csrf_token %}
												{{form|crispy}}
						      			<div class="row mt-4">
						      				<input class="btn btn-block btn-success" type="Submit" name="Update Password">
						      			</div>
						      		</form>
										</div>
					      	</div>
								</div>
							</div>
						</div>
					</div>
	      </div>
	    </div>
	  </body>
	</html>
	<!-- <script type="text/javascript">
			function passwordAddClass(){
				id_email = document.getElementById('id_email')
				id_email.classList.add('form-control')
			}

	</script> -->
	{% endblock %}
