{%  extends 'tracer/firstInterface/templates.html' %}
{% load static %}
{% block content %}
<header class = bg-3D>
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-7 align-self-end">
              <h1 class="text-white font-weight-bold">“There is nothing more beautiful than finding your course as you believe you bob aimlessly in the current. Wouldn’t you know that your path was there all along, waiting for you to knock, waiting for you to become. This path does not belong to your parents, your teachers, your leaders, or your lovers. Your path is your character defining itself more and more everyday like a photograph coming into focus.”</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
              <p class="text-white-75 mb-5">—Jodie Foster</p>
          </div>
      </div>
  </div>
</header>



{% endblock %}
